{% load static %}
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=PT+Serif:ital@0;1&display=swap');


table {
  font-family: 'PT Sans', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



#main-header {
  font-family: 'PT Serif', sans-serif;

}

#body_info{
  font-family: 'PT Sans', sans-serif;
}
