{% extends 'base.html' %}
{% block body_block%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
<style media="screen">
  .bg-img{
    background-image: url('../../staticfiles/pics/741514.jpg');
    color: whitesmoke;
  }

  body{

    background-image: url('../../staticfiles/pics/741514.jpg');
    color: black;

  }
</style>
<body>
    <h1 id="main-header" style="text-align:center; font size: 100px";>LOGIN</h1>
    <br></br>

  <form action="{%url 'webapp:user_login' %}" method="post" style="text-align:center">
    {%csrf_token %}
    <label for="username" id="body_info">Username:</label>
    <input type="text" name="username" placeholder="Enter Username">
    <br></br>
    <label for="password" id="body_info">Password:</label>
    <input type="password" name="password">
    <br></br>
    <input type="submit" name="" value="Login" id="save">
   </form>
 </div>
{% endblock %}
</body>
